$main : rgba(255,230,0,1);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.flex-row{
    display: flex;
    flex-direction: row;

    .flex-row-item:not(:first-child){
        padding: 0 0.5em;
    }
}

.hours{
    &.columns{
        &.column{
            margin: 0;
            padding: 0;
        }
    }
}

.icon-display{
    padding: 0 0.75em 0.75em 1em;
}

amenity-items{
    border-width: 1em;
    border-color: black
}

.loading{
    height: 50%;
    min-width: 100%;
}

.title-container{
    position: relative;
    img{
        width: 30%;
        height: 30%;
        border-radius: 0;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
}

#profile-page{
    a{
        color: blue;
    }
}

.is-secondary{
    background-color: #FFE600;
    color: black;
}

.opening{
    width: 50%;
    height: 100vh;
}

.logo{
    height: 50%;
    width: 50%;
    border-radius: 15%;
}

.fill-hero{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-radius: 0em;
    border-bottom-width: 0.1em;
    border-color: #FFE600;
}

.border-main{
    border-color: #00d1b2;
    border-width: 0.1em;
    border-radius: 6px;
}

.is-main{
    background: $main;
}

#results{
    overflow: hidden;
}

.loading{
    padding: 16% 44%;
}
#search-engine-filter{
    border-width: medium;
    border-top-width: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    
    position: relative;
    margin: -2vh -0.3vw 1.5vh 0;
    box-shadow: rgba(211, 211, 211, 0.2) 0 5px 0 0;
}

.side{
    overflow-y: scroll;
    height: 93vh;
    padding-left: 0;
    padding-top: 0;
}

.result-card{
    &:first-child{
        padding-top: 1.25rem;
    }
    &:last-child{
        margin-bottom: 1.25rem;
    }
}

#nav-logo{
    height: 1em;
    width: 1em;
}

.business-details > .details{
    padding : 1em;
    border: solid 1px;
    
    box-shadow: 5px black;
}