$yellow : rgba(255,230,0,1);
$green : rgba(0, 209, 178,1);
$purple : rgba(102, 0, 179,1);
$light-purple : rgba(145, 0, 255,1);
$blue : #000036;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.flex-row{
    display: flex;
    flex-direction: row;

    .flex-row-item:not(:first-child){
        padding: 0 0.5em;
    }
}

.hours{
    &.columns{
        &.column{
            margin: 0;
            padding: 0;
        }
    }
}

.icon-display{
    padding: 0 0.75em 0.75em 1em;
}

amenity-items{
    border-width: 1em;
    border-color: black
}

.loading{
    height: 50%;
    min-width: 100%;
}

.homelogo{
    img{
        width: 10rem;
        height: 10rem;
        border-radius: 1;
    }
}

#home{
    margin-top: 10px;
    footer{
        margin:0;
        padding:0;
        background-color: $green;
        width:100%;
        min-height: 100px;
        color: black;
    }
    // background-color: $blue;
}

.why{
    p{
        padding:1em;
        color:white;
    }
    // height:5em;
    background-color: $purple;
    width: 100%;
    // clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    margin : 0 10;
}

.who{
    
    .columns{
        .column{
            .card{
                border-color: $green;
                border-width: 0.5%;
            }
        }
    }
}
.title-container{
    position: relative;
    img{
        width: 30%;
        height: 30%;
        border-radius: 0;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
}

#profile-page{
    a{
        color: blue;
    }
}

.is-secondary{
    background-color: $yellow;
    color: black;
}

.opening{
    width: 50%;
    height: 100vh;
}

.logo{
    height: 50%;
    width: 50%;
    border-radius: 15%;
}

.fill-hero{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-radius: 0em;
    border-bottom-width: 0.1em;
    border-color: #FFE600;
}

.border-main{
    border-color: #00d1b2;
    border-width: 0.1em;
    border-radius: 6px;
}

.is-main{
    background: $yellow;
}

#results{
    overflow: hidden;
}

.loading{
    padding: 16% 44%;
}
#search-engine-filter{
    border-width: medium;
    border-top-width: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    
    position: relative;
    margin: -2vh -0.3vw 1.5vh 0;
    box-shadow: rgba(211, 211, 211, 0.2) 0 5px 0 0;
}

.side{
    overflow-y: scroll;
    height: 93vh;
    padding-left: 0;
    padding-top: 0;
}

.result-card{
    &:first-child{
        padding-top: 1.25rem;
    }
    &:last-child{
        margin-bottom: 1.25rem;
    }
}

#nav-logo{
    height: 1em;
    width: 1em;
}

.business-details > .details{
    padding : 1em;
    border: solid 1px;
    
    box-shadow: 5px black;
}

textarea::placeholder{
    color: black;
    font-size: 1em;
}

.avatar{
    img{
        border-radius: 50%;
    }   
}



#local-header{
    position: relative;
    text-align:center;
    width:100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    
    img{
        z-index: -1;
        width:100%;
        height: 5%;
        border-radius:0;
    }
       
    .info{
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    .local-actions{
        position: absolute;
        bottom: 20px;
        right:16px;
    }
}

.text-outline-black{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.reviews{
    // border: solid 1px;
    margin: 2.5em 0;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  .dimmer{
    background: #000;
    position: absolute;
    opacity: .5;
    top: 0;
    z-index:9;
  }
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
    border: 1px solid #000;
    z-index: 10;
  }
  
  /* Add styles to the form container */
  .form-container {
    width:400px;  /* adjust as per your needs */
    height:400px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=file]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=file]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .button:hover, .open-button:hover {
    opacity: 1;
  }