:root{
    --yellow : rgba(255,230,0,1);
    --green : rgba(0, 209, 178,1);
    --purple : rgba(103,0,254, 1);
    --light-purple : rgba(145, 0, 255,1);
    --blue : #1778f2;
    --nav-bar-height: 10vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.addr{
    border-radius: 3px;
}

.amenity-items{
    border-width: 1em;
    border-color: black
}
.animate-tag p{
    display:none;
}
.animate-tag  p:hover{
    display: block;
}

.avatar img{
    border-radius: 50%;
}   


.border-main{
    border-color: var(--green);
    border-width: 0.1em;
    border-radius: 6px;
}

.business-details > .details{
    padding : 1em;
    border: solid 1px;
    box-shadow: 5px black;
}

.password-visible-icon,
.current-location-button{
    cursor: pointer;
}

.control.has-icons-left .icon.password-visible-icon,
.control.has-icons-left .icon.current-location-button{
    pointer-events: all;
}

.control.has-icons-left .icon.current-location-button:hover{
    color: blue;
}

#error-popup{
    display: none;
    position: fixed; 
    bottom:0%;
    width:100vw;
    z-index: 1000;

}

#error-popup:active{
    display: none;
}

.fill-hero{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-radius: 0em;
    border-bottom-width: 0.1em;
    border-color: var(--yellow);
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row.flex-row-item:not(:first-child){
    padding: 0 0.5em;
}

.mobile-search{
    top: calc(var(--nav-bar-height) - 4vh) !important;
    left:-20vw !important;
    width:100vw;
}
.has-text-fb{
    color: var(--blue) !important
}
.has-text-dsc{
    color: #7289DA !important
}
.text-has-line{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

button.text-has-line{
    cursor: pointer;
}

button.text-has-line:focus{
    outline: none;
}

.button.is-google{
    background-color: #4285F4;
    background: linear-gradient(90deg, #4285F4 94%, #DB4437 94% 96%, #F4B400 96% 98%, #0F9D58 98%);
    /* linear-gradient(90deg, #DB4437 75%, #F4B400 75%), 
    linear-gradient(90deg, #F4B400  80%, #0F9D58 90%); */
    color:white;
}

/* .button.is-google:hover{
    border-color: 
} */

.text-has-line span{
    background:#fff; 
    padding:0 10px;
}

.hours.columns.column{
    margin: 0;
    padding: 0;
}

.icon-display{
    padding: 0 0.75em 0.75em 1em;
}

.logo{
    height: 50%;
    width: 50%;
}

.loading{
    height: 50%;
    min-width: 100%;
}

.home-logo img{
    width: 10rem;
    height: 10rem;
    border-radius: 1;
}
.home-page-image{
    width:50vw;
    background-color:var(--yellow);
    background-image: linear-gradient(110deg, 
    var(--green) 25%,
    var(--yellow) 25% 75%, 
    var(--green) 75%)
}
.home-page-image img{
    width:20vw !important;
}
#home{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height) + 2vh);
    margin-top: 10px;
    margin: 0 25vw;
}
.home-section{
    min-height:100vh;
}
footer.footer{
    border-radius:0;
    margin:0;
    padding:0;
    background-color: var(--purple);
    /* height: 45vh; */
    width:100%;
    color: white;
}

footer.footer a{
    color:white;
}

.no-dot,
footer.footer li{
    list-style: none;
}
.get-involved{
    color:white;
    
}
.is-secondary{
    background-color: var(--yellow);
    color: black;
}

.is-main{
    background: var(--yellow);
}

input:required:invalid, 
textarea:required:invalid{
    border-color: pink;
    border-width: 2px;
}
    
input:required:valid:focus, 
textarea:required:valid{
    border-color:green;
    border-width: 2px;
}
    
#desc{
    height: 5%;
}

.image-item{
    text-align:center;
    width:25%;
}

.image-item:nth-child(4n):after{
    content: "\00000a";
    white-space: pre;  
    flex-wrap: wrap;

}

.image-item > .delete-image{
    background-color:rgba(0, 0, 0,0.5);
    position: absolute;   
}

#image-upload-page{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height) + 1vh);
}

#avatar-upload-page{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height) + 1vh);
}

.loading{
    padding: 16% 44%;
}

#local-header{
    position: relative;
    text-align:center;
    width:100%;
    max-height: 40vh;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    overflow: hidden;
    
}
#local-header img{
    margin:0;
    padding:0;
    z-index: -1;
    width:100%;
    min-height:40vh;
    border-radius:0;
}
   
#local-header .info{
    position: absolute;
    bottom: 8px;
    left: 16vw;
}

#local-header .local-actions{
    position: absolute;
    bottom: 20px;
    right:16vw;
}

#local-page{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height));
}

#main-nav{
    position: fixed;
    padding:0 0.75vw;
    height: var(--nav-bar-height);
    border-radius: 0;
    border-bottom: solid 1px hsl(295, 4%, 74%);
}

/* #main-nav.mobile-nav{
    height: calc(var(--nav-bar-height) + )
} */
#main-nav img{
    width: 60px;
    border-radius: 15%;
}

#main-nav.is-full-width{
    width: 97vw;
    left:-3.5rem;
}

#main-nav.is-one-quarter-width{
    width:25vw;
}

#main-nav.is-three-quarters-width{
    width:75vw;
}

#main-nav.is-tertiary{
    background-color: #808cff;
}

#nav-logo{
    height: 1em;
    width: 1em;
}

#new-local-page{
    margin-top:calc(var(--nav-bar-height) + 1vh);
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
  
.opening{
    width: 50%;
    height: 100vh;
}

#profile-page{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height) + 1.5vh);
}

.profile-local-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.profile-local-item{
    position: relative;
}

.access{
    width: 100%;
}

button:focus {
    outline: none;
}

.rows{
    display: flex;
    flex-direction: column;
}

.on-click{
    cursor: pointer;
}

.make-center {
    padding : 0 50%;
    width : 50%;
}

.profile-avatar{
    position: relative;
    border-radius: 15%;
    cursor: pointer;
    text-align: center;
}

.profile-avatar:hover .edit-avatar{
    background-image: linear-gradient(
        to top, rgba(0, 0, 0, 0.6)
    , rgba(0,0,0,0));
    position: absolute;
    bottom:0;
    z-index:2;
    display: block;
    width: 100%;
    height: 25%;
    color: white;
    border-radius: 0 0 1.2em 1.2em;
}

.profile-avatar:not(:hover) .edit-avatar{
    display: none;
}

.profile-avatar img{
    display: flex;
    margin:0;
    padding:0;
    z-index: -1;
    width:100%;
    border-radius: 15%;
}
.profile-local-section{
    /* border:1px solid var(--green); */
    width:100%;
    padding:1em;
}
.result-card:first-child{
    padding-top: 1.25rem;
}
.result-card:last-child{
    margin-bottom: 1.25rem;
}

.reviews{
    margin: 2.5em 0;
}

#results-page{
    min-height:100vh;
    padding-top:calc(var(--nav-bar-height) + 0.25vh);
    overflow: hidden;
}
  
.search-bar{
    border-radius: 100px;
}

#search-engine-filter{
    border-width: medium;
    border-top-width: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    
    position: relative;
    margin: -2vh -0.3vw 1.5vh 0;
    box-shadow: rgba(211, 211, 211, 0.2) 0 5px 0 0;
}

.side{
    overflow-y: scroll;
    height: 92vh;
    margin-left: 8px;
}

.title-container{
    position: relative;
}

.title-container img{
    width: 30%;
    height: 30%;
    border-radius: 0;
}
.title-container.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

textarea::placeholder{
    color: black;
    font-size: 1em;
}

.text-outline-black{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



.line-ext{
    display:inline-block;
    color: black;
    height: 1em;
    width: 2rem;
    margin-right: 1em;
}

#call-to-action{
    width: 100%;
}

#who{
    display: block;
    width:100%;
}

.color-block{
    position: relative;
    padding: 50% 0;
    width:100%;
    height:100%;
    background-color: var(--yellow);
}

.full-width{
    width:100vw !important;
}

.satisfaction-scale{
    width: 14.5em;
    justify-content: center !important;
}


.satisfaction-scale i{
    padding:0;
    margin-left:0.2em;
    margin-right:0.2em
}
.dropdown-content{
    width:100vw
}
.satisfaction-scale i:hover{
    font-weight: 900;
}
