.welcome{
    margin-top: 4.3%;
    height: 10em;
    width: 99%;
    left: 8px;
    position: absolute;
    background-color: #00c4a7 ;
    //border-radius: 15px;
    box-shadow: 1px 1px 5px;
    color:white;
}

.exit{
    display: none;
}
.is-logo{
    
    background-color: #FFE600;
}