#results{
    overflow: hidden;
}

.loading{
    padding: 16% 44%;
}

.side{
    overflow-y: scroll;
    height: 94vh;
}
#map{
    padding: auto 0 0;
    margin: 0;
    overflow: hidden;
    height: 93vh;
}

.result-card{
    &:first-child{
        padding-top: 1.25rem;
    }
    &:last-child{
        margin-bottom: 1.25rem;
    }
}