.results{
    position: relative;
    padding-top: 20vh;
}

.res-img{
    width: 224px;
    height: 194px;
    border-radius: 3% 0% 0% 3%;
}

.loading{
    padding: 16% 44%;
}

.min-h-screen{
    min-height: 35vh;
}

.min-w{
    width: 40%;
    height:0%;
}

.minw{
    min-width: 131%;
}
.text-box-size{
    min-width: 18em;
}
.grey-box{
    min-width: 100%;
}
.image-box{
    min-width: 38%
}