img{
    height: 40px;
    width: 40px;
    border-radius: 15%;
    position: absolute;
}
nav{
    position: fixed;
    display: flex;
    width:100%;
    padding-top: 0.5em;
    padding-left: 0.5em;
    z-index: 1;
}
form{
    width:80%;
    padding-left:3%;
}
.element::-moz-placeholder{
    font-weight: bold;
}
.field{
    position: relative;
    width:50%;
}

.where{
    position: absolute;
    width:50%;
    left:51%;
}
.what{
    position: absolute;
    width:50%;
}

.element::-moz-placeholder {
    color: blue;
    font-weight: bold;
}

.search{
    left:108%;
    
}

.create{
    position: relative;
    
}