img{
    height: 40px;
    width: 40px;
    border-radius: 15%;
}

.is-full-width{
    width: 100vw;
    left:-4rem;
}

.is-one-quarter-width{
    width:25vw;
}

.is-three-quarters-width{
    width:75vw;
}


.is-tertiary{
    background-color: #808cff;
}
