// .pt-7{
    
//     padding-top: 4rem;
// }

#desc{
    height: 5%;
}

.addr{
    border-radius: 3px;
}


input, textarea{
  &:required{
    &:invalid{
      border-color: pink;
      border-width: 2px;
    }

    &:valid{
      border-color:green;
      border-width: 2px;
    }
  }
}